body
      {
        background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613156013_94-p-zheltii-fon-soti-156.jpg");
      }  
form
{
    color: #FFFFFF;
}
button
{
    color: #FFFFFF;
}
